.nav {
    background-color: beige;
    position: absolute;
    right: 0;
    color: black;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: right; 
    gap: 2rem;
    padding: 0 0;
    font-size: calc(1px + 2vmin);
    width: 5vw;
    height: 80vh;
    margin: auto;
    /* margin-top: -35px; */
    margin-right: 0;
    border: 10px solid white;
}
  
#nav {
    background-color: beige;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}