/* @import url("./fonts/M_PLUS_1/stylesheet.css"); */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  /* font-family: 'MPlus1-Regular', sans-serif; */
  font-family: 'M PLUS 1', sans-serif;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  /* font-family: 'MPlus1-Regular', sans-serif; */
}
